{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="row g-4 col-md-4 offset-md-4">
    <h1>Please sign in</h1>

    {% if next %} {% if user.is_authenticated %}
    <p>
      Your account doesn't have access to this page. To proceed, please login
      with an account that has access.
    </p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %} {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %} {% bootstrap_form form layout="floating"%}
      <p class="align-right">
        <a href="{% url 'password_reset' %}">Lost password?</a>
      </p>
      <input type="submit" value="login" class="btn btn-primary w-100 py-2" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>
{% endblock %}
